* @vladimirlaz @romanovvlad @bader

# AOT compilation
SYCL/AOT @AGindinson @dm-vodopyanov @AlexeySachkov @romanovvlad

# Atomics
SYCL/AtomicRef @AGindinson 

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device code split
SYCL/DeviceCodeSplit @AlexeySachkov  @Fznamznon

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims @AGindinson

# dot_product API
SYCL/DotProduct @rdeodhar

# Explicit SIMD
SYCL/ESIMD @kbobrovs @v-klochkov

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @AlexeySachkov
SYCL/SubGroup @Pennycook @AlexeySachkov
SYCL/SubGroupMask @Pennycook @vladimilaz

# Group local memory
SYCL/GroupLocalMemory @sergey-semenov @Pennycook

# Hierarchical parallelism
SYCL/HierPar @kbobrovs

# Inline assembler
SYCL/InlineAsm @AlexeySachkov

# Online compiler
SYCL/OnlineCompiler @v-klochkov

# Plugin interface
SYCL/Plugin @smaslov-intel

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @AlexeySachkov  @Fznamznon

# Specialization constant
SYCL/SpecConstants @kbobrovs

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

#BFloat16 conversion
SYCL/BFloat16 @AlexeySotkin @MrSidims

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime
