<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clang_version</key>
	<string>clang version 3.9.0 (trunk 258573)</string>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-e16a72.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'flags' is never read</string>
			<key>issue_context</key>
			<string>_dopr</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9aa7aa94e633f2406ba71571d81fd32d</string>
			<key>issue_hash_function_offset</key>
			<string>169</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>342</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'flags' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>342</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'flags' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>26</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>342</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>32</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>342</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead increment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-283114.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'fvalue' is never read</string>
			<key>issue_context</key>
			<string>_dopr</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>816a33c42962c62677e826dfe31c128f</string>
			<key>issue_hash_function_offset</key>
			<string>172</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>21</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>345</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'fvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>345</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'fvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>345</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>50</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>345</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-1416bb.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'fvalue' is never read</string>
			<key>issue_context</key>
			<string>_dopr</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>84774e0c6abb68f7df59249b0a0c8038</string>
			<key>issue_hash_function_offset</key>
			<string>174</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>21</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>347</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'fvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>347</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'fvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>347</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>49</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>347</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-77e752.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'flags' is never read</string>
			<key>issue_context</key>
			<string>_dopr</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>9aa7aa94e633f2406ba71571d81fd32d</string>
			<key>issue_hash_function_offset</key>
			<string>177</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>350</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'flags' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>350</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'flags' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>26</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>350</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>32</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>350</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead increment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-210c18.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'fvalue' is never read</string>
			<key>issue_context</key>
			<string>_dopr</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>816a33c42962c62677e826dfe31c128f</string>
			<key>issue_hash_function_offset</key>
			<string>180</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>21</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>353</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'fvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>353</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'fvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>353</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>50</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>353</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-6109c0.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'fvalue' is never read</string>
			<key>issue_context</key>
			<string>_dopr</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>84774e0c6abb68f7df59249b0a0c8038</string>
			<key>issue_hash_function_offset</key>
			<string>182</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>21</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>355</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'fvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>355</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'fvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>355</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>49</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>355</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-d47a2e.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'ch' is never read</string>
			<key>issue_context</key>
			<string>_dopr</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>aac1c827201ec7c47c92dfacbf1199bd</string>
			<key>issue_hash_function_offset</key>
			<string>228</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>17</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>401</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'ch' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>401</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'ch' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>22</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>401</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>30</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>401</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>b_print.c</string>
	</array>
</dict>
</plist>
