<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clang_version</key>
	<string>clang version 3.9.0 (trunk 258573)</string>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-b61928.html</string>
			</array>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>core.NullDereference</string>
			<key>description</key>
			<string>Access to field 'name' results in a dereference of a null pointer (loaded from field 'method')</string>
			<key>issue_context</key>
			<string>load_builtin_compressions</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>a1eeef3bf1889e249bf619a0aec50815</string>
			<key>issue_hash_function_offset</key>
			<string>22</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>38</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>444</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Calling 'load_builtin_compressions'</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1737</integer>
					</dict>
					<key>message</key>
					<string>Calling 'load_builtin_compressions'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1737</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>31</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1737</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Entered call from 'SSL_COMP_get_compression_methods'</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>421</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'SSL_COMP_get_compression_methods'</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>423</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>423</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>421</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>426</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>426</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>423</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>7</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>423</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>426</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>426</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>426</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>426</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Assuming 'ssl_comp_methods' is equal to null</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>426</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'ssl_comp_methods' is equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>426</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>32</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>426</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>427</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>23</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>427</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>426</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>426</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>431</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>431</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>427</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>23</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>427</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>431</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>431</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>431</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>431</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Assuming 'ssl_comp_methods' is equal to null</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>13</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>431</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'ssl_comp_methods' is equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>13</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>431</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>36</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>431</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>432</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>432</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>431</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>431</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>432</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>432</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>46</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>46</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>46</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>46</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>46</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>46</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>436</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>436</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>435</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>436</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>436</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>436</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>436</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Assuming 'ssl_comp_methods' is not equal to null</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>17</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>436</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'ssl_comp_methods' is not equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>17</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>436</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>40</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>436</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>437</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>437</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>436</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>32</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>436</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>438</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>438</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>437</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>437</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>438</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>438</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>17</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>438</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>18</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>438</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Assuming 'comp' is not equal to null</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>438</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'comp' is not equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>21</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>438</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>32</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>438</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>439</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>439</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>438</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>438</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Value assigned to field 'method'</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>21</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>439</integer>
					</dict>
					<key>message</key>
					<string>Value assigned to field 'method'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>21</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>439</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>46</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>439</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>22</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>439</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>24</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>439</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>22</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Assuming pointer value is null</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>25</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>440</integer>
					</dict>
					<key>message</key>
					<string>Assuming pointer value is null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>25</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>440</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>36</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>440</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>443</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>443</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>440</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>444</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>444</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>443</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>443</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>38</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>444</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>41</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>444</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>25</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>444</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>28</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>444</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Access to field 'name' results in a dereference of a null pointer (loaded from field 'method')</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>38</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>444</integer>
					</dict>
					<key>message</key>
					<string>Access to field 'name' results in a dereference of a null pointer (loaded from field 'method')</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>44</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>444</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>49</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>444</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dereference of null pointer</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>ssl_ciph.c</string>
	</array>
</dict>
</plist>
