<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clang_version</key>
	<string>clang version 3.9.0 (trunk 258573)</string>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-d99a8b.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'zero' is never read</string>
			<key>issue_context</key>
			<string>bn_mul_high</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>52f89cd2a9bb3966ee472d4456884611</string>
			<key>issue_hash_function_offset</key>
			<string>21</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>791</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'zero' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>791</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'zero' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>791</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>791</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-063398.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'zero' is never read</string>
			<key>issue_context</key>
			<string>bn_mul_high</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>52f89cd2a9bb3966ee472d4456884611</string>
			<key>issue_hash_function_offset</key>
			<string>31</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>801</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'zero' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>801</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'zero' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>801</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>801</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-602e74.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'zero' is never read</string>
			<key>issue_context</key>
			<string>bn_mul_high</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>52f89cd2a9bb3966ee472d4456884611</string>
			<key>issue_hash_function_offset</key>
			<string>39</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>809</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'zero' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>809</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'zero' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>809</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>16</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>809</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-bf2eeb.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'c1' is never read</string>
			<key>issue_context</key>
			<string>bn_mul_high</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>c4727af929a26037ebde6a9664767fee</string>
			<key>issue_hash_function_offset</key>
			<string>70</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>840</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'c1' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>840</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'c1' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>840</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>57</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>840</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-42344d.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'c1' is never read</string>
			<key>issue_context</key>
			<string>bn_mul_high</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>1907787729ef123f2070fce34921aeb6</string>
			<key>issue_hash_function_offset</key>
			<string>72</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>842</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'c1' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>842</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'c1' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>842</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>842</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-ff6b87.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'neg' is never read</string>
			<key>issue_context</key>
			<string>bn_mul_high</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>cab0ac6f4e55d29901d0f60c64230de1</string>
			<key>issue_hash_function_offset</key>
			<string>77</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>847</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'neg' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>847</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'neg' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>847</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>59</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>847</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-40301d.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'neg' is never read</string>
			<key>issue_context</key>
			<string>bn_mul_high</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>db24ba17ee2c0ae8e9c0153691f9d309</string>
			<key>issue_hash_function_offset</key>
			<string>80</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>850</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'neg' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>850</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'neg' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>850</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>15</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>850</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>bn_mul.c</string>
	</array>
</dict>
</plist>
