<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clang_version</key>
	<string>clang version 3.9.0 (trunk 258573)</string>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-d0f98a.html</string>
			</array>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>core.NullDereference</string>
			<key>description</key>
			<string>Dereference of null pointer</string>
			<key>issue_context</key>
			<string>do_ssl3_write</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3b297cac56b588bf8702a8b3c96a8f11</string>
			<key>issue_hash_function_offset</key>
			<string>103</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>12</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>777</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1476</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1476</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1472</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1472</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1476</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>21</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1476</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1476</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>1476</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Calling 'do_ssl3_write'</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1476</integer>
					</dict>
					<key>message</key>
					<string>Calling 'do_ssl3_write'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1476</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>68</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>1476</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Entered call from 'ssl3_dispatch_alert'</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>672</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'ssl3_dispatch_alert'</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>675</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>675</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>672</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>672</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>687</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>687</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>675</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>675</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>698</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>698</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>687</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>687</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>699</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>699</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>698</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>698</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>705</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>705</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>699</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>699</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>708</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>708</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>705</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>705</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>708</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>708</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>708</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>708</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Assuming 'sess' is equal to null</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>10</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>708</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'sess' is equal to null</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>10</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>708</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>21</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>708</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>710</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>710</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>708</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>708</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>713</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>713</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>710</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>710</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>768</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>768</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>713</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>713</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>772</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>772</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>768</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>13</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>768</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>777</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>777</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>772</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>10</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>772</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>777</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>12</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>777</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>777</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>5</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>777</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>1</integer>
					<key>extended_message</key>
					<string>Dereference of null pointer</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>12</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>777</integer>
					</dict>
					<key>message</key>
					<string>Dereference of null pointer</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>5</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>777</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>24</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>777</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dereference of null pointer</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>s3_pkt.c</string>
	</array>
</dict>
</plist>
