<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clang_version</key>
	<string>clang version 3.9.0 (trunk 258573)</string>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-87aa18.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wvalue' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_recp</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f304ec1a7fcf587609ce13978bbebf00</string>
			<key>issue_hash_function_offset</key>
			<string>63</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>310</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>310</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>310</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>310</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-f4cf29.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wend' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_recp</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>f982551820658fa12e79af90d6df2b1e</string>
			<key>issue_hash_function_offset</key>
			<string>65</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>312</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wend' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>312</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wend' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>312</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>312</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-c4d1cb.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'j' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_recp</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>52e17b6b1b53adfcd3fba519d247ac51</string>
			<key>issue_hash_function_offset</key>
			<string>85</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>332</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'j' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>332</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'j' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>13</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>332</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>332</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-d37265.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wvalue' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_recp</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d971fb4446b6bf107e15393a9fa2e775</string>
			<key>issue_hash_function_offset</key>
			<string>113</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>360</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>360</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>360</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>360</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-02a631.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wvalue' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_mont</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7d1c217be37853bff6504a1d3b0595e8</string>
			<key>issue_hash_function_offset</key>
			<string>76</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>451</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>451</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>451</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>451</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-95f6b4.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wend' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_mont</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>59ab5ba719b8871d0f76252e573f9f4f</string>
			<key>issue_hash_function_offset</key>
			<string>78</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>453</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wend' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>453</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wend' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>453</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>453</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-dd7d8f.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'j' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_mont</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>99efce9ee94248be3264ce3a106297af</string>
			<key>issue_hash_function_offset</key>
			<string>98</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>473</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'j' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>473</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'j' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>13</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>473</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>473</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-6f2f59.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wvalue' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_mont</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>977ca6140f6a1bbb929ca9175231363b</string>
			<key>issue_hash_function_offset</key>
			<string>126</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>501</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>501</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>501</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>501</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-0b97cc.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wvalue' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_simple</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3302ef7ad9a524441f116ab76ba283ac</string>
			<key>issue_hash_function_offset</key>
			<string>49</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>947</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>947</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>947</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>14</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>947</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-1ba017.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wend' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_simple</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7ce93e8bec225acf8972e04156246392</string>
			<key>issue_hash_function_offset</key>
			<string>51</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>949</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wend' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>949</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wend' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>949</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>949</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-5a15c2.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'j' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_simple</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6fb58006ad8a7bf81c0c8764b3228309</string>
			<key>issue_hash_function_offset</key>
			<string>71</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>969</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'j' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>969</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'j' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>13</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>969</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>969</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-0d4755.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'wvalue' is never read</string>
			<key>issue_context</key>
			<string>BN_mod_exp_simple</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>65a8f803f53d89600fac5ab43a1aecaa</string>
			<key>issue_hash_function_offset</key>
			<string>99</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>997</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>997</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'wvalue' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>997</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>18</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>997</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>bn_exp.c</string>
	</array>
</dict>
</plist>
