<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clang_version</key>
	<string>clang version 3.9.0 (trunk 258573)</string>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-d7a715.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'bio' is never read</string>
			<key>issue_context</key>
			<string>b64_read_asn1</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7390a04e96024c653deb07adfa732dc8</string>
			<key>issue_hash_function_offset</key>
			<string>12</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>194</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'bio' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>194</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'bio' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>11</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>194</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>22</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>194</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-f32304.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'state' is never read</string>
			<key>issue_context</key>
			<string>multi_split</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>4f7a1a586725ff0ce8d4d432b4df431c</string>
			<key>issue_hash_function_offset</key>
			<string>10</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>605</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'state' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>605</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'state' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>13</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>605</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>13</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>605</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
		<dict>
			<key>HTMLDiagnostics_files</key>
			<array>
				<string>report-75c966.html</string>
			</array>
			<key>category</key>
			<string>Dead store</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'p' is never read</string>
			<key>issue_context</key>
			<string>strip_eol</string>
			<key>issue_context_kind</key>
			<string>function</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>31a2dbd839c1bddf4521dd450410cb52</string>
			<key>issue_hash_function_offset</key>
			<string>4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>963</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>extended_message</key>
					<string>Value stored to 'p' is never read</string>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>963</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'p' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>963</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>25</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>963</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Dead assignment</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>asn_mime.c</string>
	</array>
</dict>
</plist>
