# -*- python -*-

import os

cuda_env_vars = [
    'CUDA_CACHE_DISABLE',
    'CUDA_CACHE_MAXSIZE',
    'CUDA_CACHE_PATH',
    'CUDA_FORCE_PTX_JIT',
    'CUDA_VISIBLE_DEVICES',
]

# We need to propagate cuda environment vars to tests so we can
# control how/where the tests get executed.
for var in cuda_env_vars:
  if var in os.environ:
    config.environment[var] = os.environ[var]
